<?xml version="1.0"?>

<model>
  <name>moon_habitat</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Joe Cloud</name>
    <email>im@joe.cloud</email>
  </author>

  <description>
      Original model by: https://3dwarehouse.sketchup.com/model/be33204b-11c2-4785-8ea2-7f1b98722646/moon-habitat-123
  </description>
</model>
