<?xml version="1.0"?>

<model>
  <name>wireframe_dome</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ron Marrero</name>
    <email>ronald.marrero@outlook.com</email>
  </author>

  <description>
      Original lander model by: https://secure-files.cgtrader.com/uploads%2Ffiles%2F2144207%2FWire+Frame+Globe.obj?Expires=1600122010&Signature=UvjQ31mrU4fh9orVFKBFWGalHIPERT-UYIo5Qddz0eRVlvFlHwuirZkSSUK8pF~TfQXi~SQTw7-aoSPDY2vZJo2co2N6QARXjsAsTIpoXPYd-51xoYhWs~cvohqm7RQs3eqkaUbLlWEBRiZnSMNfqKf0RDVcymKmcUEJpxklh-seR05~x4nSpUbzcNbyR21euOsgsNGtTE7P~Qzj95fxexJZmWlZ9dUmE-QCADWdniKKQA-xLc9Q89JP4iaK12QLAPcDnQzPjykmqCyQ-FBCzrAjOVhqbQFXtKQPX3mWH90JNLWWbMeKfAOpDTG4xT~28sd1OmyqGzjFoXbZHyo6Rw__&Key-Pair-Id=APKAJOY7BGXGJJCKGPZA
  </description>
</model>
