<?xml version="1.0"?>

<model>
  <name>isru_processing_plant</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Joe Cloud</name>
    <email>im@joe.cloud</email>
  </author>

  <description>
      Original lander model by: https://3dwarehouse.sketchup.com/model/3e39c7ba53df14256600258587aa4835/Lander
  </description>
</model>
