<?xml version="1.0"?>

<model>
  <name>NASA's Lunar Surface Model</name>
  <version>1.0</version>
  <sdf version="1.0">model-1_0.sdf</sdf>

  <author>
	  <name>Daniel Silva</name>
	  <email>danielzgsilva@knights.ucf.edu</email>
  </author>

  <description>A small chunk of NASA's lunar surface model</description>

</model>
