<?xml version="1.0"?>

<model>
  <name>Giant Circle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ron Marrero</name>
    <email>ronald.marrero@outlook.com</email>
  </author>

  <description>
      Original lander model by: https://clara.io/view/3769ecc1-8df0-4b60-ab56-2ec0506a0042#
  </description>
</model>
