<?xml version="1.0"?>

<model>
  <name>test_crater</name>
  <version>1.0</version>
  <sdf version="1.4">moon_model.sdf</sdf>

  <author>
    <name>Shelby Basco</name>
    <email>basco_s@knights.ucf.edu</email>
  </author>

  <description>
    South pole from LRO LOLA crater
  </description>

</model>
