<?xml version="1.0"?>

<model>
  <name>solar_panels</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Joe Cloud</name>
    <email>im@joe.cloud</email>
  </author>

  <description>
      Original model by:https://3dwarehouse.sketchup.com/model/b10fbdb0-29c9-4375-bb43-dad962a4da3d/solar
  </description>
</model>
