<?xml version="1.0"?>

<model>
  <name>rock1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Joe Cloud</name>
    <email>im@joe.cloud</email>
  </author>

  <description>
      Original rock model by:https://3dwarehouse.sketchup.com/model/4eb9e47caa8e7eb146def56c5fc9b3a/rock
  </description>
</model>
